<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Model</title>
    <style>
        body{
            padding-top: 170px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Ice Cream Revenue Prediction</h1>

    <h3><br>{{ amt }}</h3>

    <form action="{{url_for('home')}}" method="">
        <button type="submit">Home</button>
    </form>
    
</body>
</html>